<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body>
<div class="sidebar">
	<a class="active" href="./admin_opers.html">
		<img src="../images/triangle.png" class="triangle"></img>Операторы</a>
	<a href="./admin_secs.html">
		<img src="../images/triangle.png" class="triangle"></img>Охранники</a>
	<a href="./admin_dics.html">
		<img src="../images/triangle.png" class="triangle"></img>Словари</a>
</div>
</body>

</html>