<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/oper_form.css">
</head>

<body>
  <form id="oper_form">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="login-wr">
            <div class="form">
              <input type="surname" placeholder="Фамилия">
              <input type="name" placeholder="Имя">
              <input type="patronymic" placeholder="Отчество">
              <button> Добавить </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>

</html>